.loginWrapper {
    display: flex;
    background-color: #4d69e9;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-weight: 600;
    color: #243e63;
    font-size: 30px;
    margin-top: 48px;
}

.forgotPassword {
    margin-top: 24px;
    font-size: 12px;
    color: rgb(113, 128, 150);
    text-align: center;
    font-weight: 500;
}

.separatorWrapper {
    max-width: 320px;
    width: 80%;
    margin: 0 auto;
}

.signUp {
    margin-top: 32px;
    font-size: 14px;
    color: rgb(113, 128, 150);
    text-align: center;
    font-weight: 500;
}

.label {
    display: block;
    margin-bottom: 4px;
    color: #000000de;
    font-size: 13px;
    font-weight: 600;
}

.link {
    border-bottom: 1px dotted rgb(160, 174, 192);
    color: inherit;
    cursor: pointer;
}