.signupWrapper {
    display: flex;
    background-color: #4d69e9;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-weight: bold;
    color: #1a202c;
    font-size: 30px;
    margin-top: 48px;
}

.link {
    border-bottom: 1px dotted rgb(160, 174, 192);
    color: inherit;
    cursor: pointer;
}

.separatorWrapper {
    max-width: 320px;
    width: 80%;
    margin: 0 auto;
}

.login {
    margin-top: 32px;
    font-size: 14px;
    color: rgb(113, 128, 150);
    text-align: center;
    font-weight: 500;
}
